<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IOTINE DASHBOARD (BETA v2.0.2)</title>
    <link rel="icon" type="image/png" href="https://192.168.31.249/logo.png">

    <link rel="stylesheet" href="https://192.168.31.249/IOTINE_V2/mission-control/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>

    <style>
        .no-js #loader {
            display: none;
        }

        .js #loader {
            display: block;
            position: absolute;
            left: 100px;
            top: 0;
        }

        .se-pre-con {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: url(https://192.168.31.249/IOTINE_V2/mission-control/332.gif) center no-repeat #fff;
        }
    </style>
    <script>
        $(window).load(function () {
            // Animate loader off screen
            $(".se-pre-con").fadeOut("slow");
        });
    </script>

    <script src="/theme"></script>
</head>

<body onload="$('.mainBackDrop').show();openedPanels='.introModal'">
    <div class="se-pre-con"></div>
    <div class="sidebar">
        <div class="inner">
            <div class="main-panel">
                <button onclick="window.location.replace('./')"><img title="IOTINE"
                        src="https://192.168.31.249/IOTINE_V2/mission-control/logo.png" alt=""></button>
                <button v-on:click="toggleDevices"> <i class="material-icons">{{ icon }}</i> </button>
                <button onclick="toggleNav()"> <i id="dehaze" class="material-icons">clear_all</i> </button>
            </div>
        </div>
    </div>
    <div class="devicesContainer">
        <div class="searchForm">
            <input v-model='searchedDevice' @keyup="searchInList" class="sc-dBaXSw fCqdz" id="header-search" type="text"
                name="search" placeholder="Search my devices" autocomplete="off">
        </div>
        <ul id="devices" class="devicesList">
            <li :id='device.name' v-for="device in devices" class="sc-dRCTWM rvBkA sc-jKJlTe jtqumW"><a href="#">
                    <div onclick="loadPROPS(this)" class=" dash-size-regular sc-kGXeez fkEHRF">
                        <div class="sc-kAzzGY eMCnFW"><img class="avatar"
                                src="https://pro-icons-avatars.s3.amazonaws.com/icons/3.png?v=1" title="NOT AVAILABLE">
                        </div>
                        <div class="sc-kpOJdX iQYOlv">
                            <input type="hidden" v-bind:id="device.deviceID" v-bind:alt="device.name"
                                v-bind:value="device.deviceID" class="devID">
                            <div class="title-text sc-chPdSV jgeneqa">{{ device.name }}</div>
                            <div class="sub-text sc-kgoBCf cTHQrV" style="display: flex;">{{ device.type }} |&nbsp; <div
                                    class="devVer"></div>
                            </div>
                            <input type="hidden" v-bind:id="'fsys_'+device.deviceID">
                        </div>
                    </div>
                </a></li>
        </ul>
        <div class="actions">
            <button v-on:click="newDev" class="addDevice">ADD DEVICE</button>
        </div>
        <div class="devPROPERTIES" style="display: none;">
            <div class="searchForm">
                <span style="cursor:pointer;" onclick="$('.devPROPERTIES').toggle()"><i
                        class="material-icons">arrow_back</i> </span>
            </div>
            <div class="devicesList">
                <div class="commands-content">
                    <div class="cmdTop">
                        <center><i class="material-icons">more_horiz</i></center>
                    </div><br>
                    <div class="cmdBdy">
                        <button onclick="rstDev(this)" data-dev="" class="rst-btn">RESET</button>
                        <button onclick="stpDev(this)" class="stp-btn" data-dev="">STOP</button>
                        <button onclick="strDev(this)" class="str-btn" data-dev="">START</button><br>
                    </div>
                    <div class="cmdBdy">
                        <button onclick="updtDev(this)" data-dev="" class="updt-btn">UPDATE</button>
                        <button
                            onclick="$('.addFileModal').toggle();$('.mainBackDrop').toggle();openedPanels = '.addFileModal'"
                            class="">ADD FILE</button>
                        <button onclick="ioState(this)" class="ios-btn" data-dev="">I/O STATE</button>
                    </div>
                    <div class="cmdBdy">
                        <button style="width:100%;">EDIT DEVICE</button>
                        <button style="width:100%;"
                            onclick="devFiles(this);$('.mainBackDrop').toggle();openedPanels = '.fsModal'" data-dev=""
                            class="fs-btn">VIEW
                            FILES</button>
                    </div>
                </div>
            </div>
            <h3 class="mname"></h3><br>

            <br>
            <table class="props">
                <tr>
                    <th>PROPERTY</th>
                    <th>VALUE</th>
                </tr>
                <tr>
                    <td>ID</td>
                    <td id="tdid"></td>
                </tr>
                <tr>
                    <td>NAME</td>
                    <td id="tdname"></td>
                </tr>
                <tr>
                    <td>TEMPLATE</td>
                    <td id="ttempl"></td>
                </tr>
            </table> <br><br>
            <table class="tFeeds">
                <tr>
                    <th>FEEDS</th>
                </tr>
                <tr>
                    <th>NAME</th>th>UNIT</th>
                </tr>
            </table>
        </div>
    </div>
    </div>

    <div id="app">
        <div class="sc-gleUXh jZiiGj">
            <div class="header-notification" style="height: auto; display: block; background-color: var(--sidebar)">
                <div class="notification-container">
                    <div class="notification-text">
                        <p class="notification-info" style="color: var(--title); text-shadow: none;">Your email
                            address is divyanshg809@gmail.com. We need to verify your email to continue using the
                            service.</p>
                    </div>
                    <div class="notification-action"><button onclick="$('.jZiiGj').toggle()"
                            class=" dash-color-primary dash-size-regular sc-gzVnrw cqGrfU"
                            style="color: rgb(73, 51, 0);"><span>Resend verification email</span></button><img
                            class="close-btn" src="" style="display: none;">
                    </div>
                </div>
            </div>
        </div>
        <div class="sc-gtfDJT diMILA" style="display:block;">
            <div class="sc-jMMfwr lhmKww">
                <div class=" dash-size-regular sc-kGXeez fkEHRF">
                    <div class="sc-kpOJdX iQYOlv">
                        <div class="title-text sc-chPdSV jgeneq"></div>
                        <div class="sub-text sc-kgoBCf cTHQrV"></div>
                    </div>
                </div>
            </div>
            <div class="sc-fOICqy eEQKgH">
                <div class="sc-jtRlXQ dPoHcy">
                    <ul>
                        <li class="sc-bEjcJn joFqRi">
                            <div class="sc-ePZHVD ePRQm"><a aria-current="page" class="navlink active" href="#"
                                    onclick="linkactive(this)"><i class="material-icons">dashboard</i>
                                    <div>Monitor</div>
                                </a></div>
                        </li>
                        <li class="sc-bEjcJn joFqRi">
                            <div class="sc-ePZHVD ePRQm"><a class="navlink "
                                    onclick="linkactive(this);window.location.replace('/rules'+window.location.pathname)"><i
                                        class="material-icons">repeat</i>
                                    <div>Act</div>
                                </a></div>
                        </li>
                        <li class="sc-bEjcJn joFqRi">
                            <span class="caret">
                                <div class="sc-ePZHVD ePRQm"><a class="navlink " onclick="linkactive(this);"><i
                                            class="material-icons">security</i>
                                        <div>Defend</div>
                                    </a></div>
                            </span>
                            <ul class="nested">
                                <div class="sc-ePZHVD ePRQm"><a class="navlink " onclick="linkactive(this);">
                                        <div>Audit</div>
                                    </a></div>
                                <div class="sc-ePZHVD ePRQm"><a class="navlink "
                                        onclick="linkactive(this); window.location.replace('/defend'+window.location.pathname)">
                                        <div>Detect</div>
                                    </a></div>
                            </ul>
                        </li>
                        <li class="sc-bEjcJn joFqRi">
                            <div class="sc-ePZHVD ePRQm"><a class="navlink " onclick="linkactive(this);"><i
                                        class="material-icons">compare_arrows</i>
                                    <div>Test</div>
                                </a></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="appInner" id="appInner" style="display:none;"></div>
        <div class="appInner mainappin">
            <header class="sc-hEsumM felvod">
                <div class="sc-cIShpX dQDczm">
                    <div class="title">
                        <span class="sc-jqCOkK gstZGj sc-frDJqD bvdgMY" size="9" font-weight="bold"
                            letter-spacing="tight">
                            <div class="sc-gbOuXE hMamKJ">
                                <div class="sc-fjmCvl sLkAJ" size="24"><img
                                        src="https://secure.gravatar.com/avatar/12c5d52b156cff381bbe700f159d237b?s=96&amp;d=https%3A%2F%2Fpro-icons-avatars.s3.amazonaws.com%2Fimg%2Fd2.png"
                                        alt=""></div>
                                <h2 class="wlcm">Welcome, </h2>
                            </div>
                        </span>
                    </div>
                    <div class="controls">
                        <div class="commands">
                            <button onclick="window.location.replace('/builder'+window.location.pathname)"><i
                                    class="material-icons">edit</i></button>
                            <button onclick="toggleDis('#dash_settings')"><i
                                    class="material-icons">settings</i></button>
                        </div>
                        <div id="dash_settings" class="settings" style="display: none;">
                            <div class="button profile">
                                <img src="https://scontent.fdel10-1.fna.fbcdn.net/v/t1.30497-1/cp0/c18.0.60.60a/p60x60/84241059_189132118950875_4138507100605120512_n.jpg?_nc_cat=1&_nc_sid=7206a8&_nc_ohc=a-1kBr5bVMsAX_WqgOo&_nc_ht=scontent.fdel10-1.fna&oh=5df1924acababb2c145767672f2646f0&oe=5EE17C73"
                                    alt="">
                                <span class="text">Divyansh Gupta</span>
                            </div>
                            <hr class="seperator">
                            <div class="button"><i class="material-icons">report</i><span class="text">Give
                                    feedback</span></div>
                            <hr class="seperator">
                            <div class="button" @click="toggleSettingsMenu"><i class="material-icons">settings</i><span
                                    class="text">Dashboard settings</span></div>
                            <div class="button"><i class="material-icons">help</i><span class="text">Help &
                                    support</span></div>
                            <div class="button" @click="toggleTheme"><i style="transform: rotate(-210deg);"
                                    class="material-icons">brightness_2</i><span class="text">Dark mode</span><label
                                    class="darkSwitch"><input @click="toggleTheme" class="darkCheck"
                                        type="checkbox"><span class="darkSlider round"></span></label></div>
                            <div class="button"><i class="material-icons">exit_to_app</i><span
                                    class="text">Logout</span></div>
                        </div>
                    </div>
                </div>
            </header>

            <div style="display: none;" class="historical">
                <div class="widget historicalWidget">
                    <table id="table_id" class="display">
                        <thead>
                            <tr>
                                <th>Column 1</th>
                                <th>Column 2</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Row 1 Data 1</td>
                                <td>Row 1 Data 2</td>
                            </tr>
                            <tr>
                                <td>Row 2 Data 1</td>
                                <td>Row 2 Data 2</td>
                            </tr>
                            <tr>
                                <td>Row 1 Data 1</td>
                                <td>Row 1 Data 2</td>
                            </tr>
                            <tr>
                                <td>Row 2 Data 1</td>
                                <td>Row 2 Data 2</td>
                            </tr>
                            <tr>
                                <td>Row 1 Data 1</td>
                                <td>Row 1 Data 2</td>
                            </tr>
                            <tr>
                                <td>Row 2 Data 1</td>
                                <td>Row 2 Data 2</td>
                            </tr>
                            <tr>
                                <td>Row 1 Data 1</td>
                                <td>Row 1 Data 2</td>
                            </tr>
                            <tr>
                                <td>Row 2 Data 1</td>
                                <td>Row 2 Data 2</td>
                            </tr>
                            <tr>
                                <td>Row 1 Data 1</td>
                                <td>Row 1 Data 2</td>
                            </tr>
                            <tr>
                                <td>Row 2 Data 1</td>
                                <td>Row 2 Data 2</td>
                            </tr>
                            <tr>
                                <td>Row 1 Data 1</td>
                                <td>Row 1 Data 2</td>
                            </tr>
                            <tr>
                                <td>Row 2 Data 1</td>
                                <td>Row 2 Data 2</td>
                            </tr>
                            <tr>
                                <td>Row 1 Data 1</td>
                                <td>Row 1 Data 2</td>
                            </tr>
                            <tr>
                                <td>Row 2 Data 1</td>
                                <td>Row 2 Data 2</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- TAB LINKS -->
            <div style="display: block;" class="maindash">
                <div class="tab">

                </div>
                <!-- CONTENT -->
                <h3 id="nowid" style="display: block;">Your Widgets will appear here.</h3>

            </div>
        </div>
    </div>
    </div>
    <div class="newDeviceModal modal" style="display: none;">
        <div class="se-pre-con"></div>
        <div class="newAppInner">
            <h1>New Device<span onclick="$('.newDeviceModal').toggle();$('.mainBackDrop').toggle()"
                    class="clsBtn">&times;</span></h1>
            <h4>Answer a few quick questions and we'll get your device up and running.</h4>
            <div class="form">
                <form action="" class="step1">
                    <h3>Select a type of device you want to add.</h3>
                    <div style="display: flex;">
                        <div class="dtype real">
                            <h4>Add your device</h4>
                            <p>Connect your own physical device's to IOTINE</p>
                        </div>
                        <div class="dtype virt">
                            <h4>Add a virtual device</h4>
                            <img
                            src="https://media.amazonwebservices.com/blog/2015/deck_compute_chip_300_1.png" alt=""
                            class="intro-img"> 
                            <p>Deploy virtual device's in the IOTINE Cloud.</p>
                        </div>
                    </div>
                </form>
                <form style="display: none;" class="step2" action="/action_page.php">
                    <label for="Devicename">Device Name</label>
                    <input type="text" id="Devicename" name="Devicename" value="">

                    <label for="dTemplate">Device Template</label>
                    <select v-on:change="addTemplate" id="dTemplate" name="dTemplate">
                        <option id="null_temp" value="">Select Template</option>
                        <option v-on:click="addTemplate" value="CNT"><a href="#" style="color:blue;">+ Create new
                                template</a></option>
                    </select>

                    <label for="Deviceurl">Device Connection String</label>
                    <h4>This helps your device securely connect with us.</h4>
                    <div class="url">
                        <input disabled type="text" id="Deviceurl" name="Deviceurl" :value="connstring">
                    </div>

                </form>
                <input type="button" v-on:click="addDeviceStep2" class="save" value="Next">
                <input type="button" class="cancel" value="Cancel"
                    onclick="$('.newDeviceModal').toggle();$('.mainBackDrop').toggle();sideBar.toggleDevices()">
            </div>
        </div>
    </div>

    <div class="settingsModal modal" style="display: none;">
        <div class="newAppInner">
            <h1>Dashboard Settings<span
                    onclick="$('.mainBackDrop').toggle();$('.settingsModal').toggle();if (document.querySelector('.settingsModal').style.display = 'block') {openedPanels = '.settingsModal'} else {openedPanels = ''}"
                    class="clsBtn">&times;</span></h1>
            <h4>From here you can easily customize your dashboard experience.</h4>
        </div>

    </div>

    <div class="addFileModal modal" style="display: none;">
        <div class="newAppInner">
            <h1>Add New File<span onclick=";$('.addFileModal').toggle();$('.mainBackDrop').toggle();"
                    class="clsBtn">&times;</span></h1>
            <h4>Add new files to tour devices or edit the existing ones.</h4>
            <div class="form" id="file_container">
                <label for="furl">File URL</label>
                <input onchange="$('.fprevframe').attr('src', this.value)" type="text" id="furl" name="furl" value="">

                <label for="dTemplate">Preview</label>
                <div class="fprev">
                    <iframe class="fprevframe" frameborder="0"></iframe>
                </div>
                <input type="button" onclick="newFileDev(this)" class="save ior-btn" value="Save to Device" data-dev="">
                <input type="button" class="cancel" value="Cancel"
                    onclick="$('.addFileModal').toggle();$('.mainBackDrop').toggle();">
            </div>
        </div>
    </div>

    <div class="introModal modal" style="display: block;">
        <div class="newAppInner">
            <h1>Getting Started<span onclick=";$('.introModal').toggle();$('.mainBackDrop').hide();"
                    class="clsBtn">&times;</span></h1>
            <h4>This will give you an overview on how iotine works.</h4>
            <div class="contents">
                <div class="button">
                    <div class="intro-item"><img
                            src="https://media.amazonwebservices.com/blog/2015/deck_compute_chip_300_1.png" alt=""
                            class="intro-img"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex iusto odio
                        obcaecati at temporibus.</div>
                    <div class="intro-item"><img src="https://192.168.31.249/IOTINE_V2/mission-control/logo.png" alt=""
                            class="intro-img"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex iusto odio
                        obcaecati at temporibus.</div>
                    <div class="intro-item"><img src="https://192.168.31.249/IOTINE_V2/mission-control/logo.png" alt=""
                            class="intro-img"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex iusto odio
                        obcaecati at temporibus.</div>
                </div>
            </div>
        </div>
    </div>

    <div class="fsModal modal" style="display: none;">
        <div class="newAppInner">
            <h1>Browse Device<span onclick="$('.fsModal').toggle();$('.mainBackDrop').toggle();"
                    class="clsBtn">&times;</span></h1>
            <h4>From here you can see all the files present on your device.</h4>

            <div class="devFiles form">
                <input type="button" class="save" value="Done"
                    onclick="$('.fsModal').toggle();$('.mainBackDrop').toggle();">
            </div>
        </div>
    </div>

    <div class="historyModal modal" style="display: none;">
        <div class="newAppInner">
            <h1>Historical View<span onclick="$('.historyModal').toggle();$('.mainBackDrop').toggle();"
                    class="clsBtn">&times;</span></h1>
            <h4>From here you can see all the historical data sent by your device.</h4>

            <div class="historicalForm form">
                <select class="histdevicesList" onchange="histloadFeeds(this);">
                    <option value="">Select Device</option>
                    <option :value="'hist@'+device.deviceID" v-for="device in devices">{{ device.type }} /
                        {{ device.name }}</option>
                </select>

                <select class="histfeedsList">
                    <option value="">Select Feed</option>
                </select>
                <input type="button" class="save" value="Show"
                    onclick="loadHistory();$('.historyModal').toggle();$('.mainBackDrop').toggle();">
                <input type="button" class="cancel" value="Cancel"
                    onclick="dashactive(document.querySelector('.dyna'));$('.maindash').show();$('.historyModal').hide();$('.historical').hide();$('.mainBackDrop').hide();openedPanels='';clearDashHistory();">
            </div>
        </div>
    </div>

    <div class="backDrop" @click="hideOpenedPanel" style="display: none;"></div>
    <div class="mainBackDrop" onclick="hideAll()" style="display: none;"></div>
    <div class="mstbtm">
        <ul>
            <li class="dashSwitch dyna active"
                onclick="dashactive(this);$('.maindash').show();$('.historyModal').hide();$('.historical').hide();$('.mainBackDrop').hide();openedPanels='';clearDashHistory();">
                DYNAMIC</li>
            <li class="dashSwitch histo"
                onclick="dashactive(this);$('.maindash').hide();$('.historical').show();$('.historyModal').show();$('.mainBackDrop').show();openedPanels='.historyModal'">
                HISTORICAL</li>
        </ul>
    </div>
</body>


<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://192.168.31.249/analDash/chart.js" type="text/javascript"></script>
<script src="https://192.168.31.249/IOTINE_V2/mission-control/river_v1.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/mission"></script>
<link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

<script>
    var lastTheme = window.localStorage.getItem("theme") || "light";

    if (lastTheme == "dark") {
        document.querySelector(".darkCheck").className += " checked"
    } else {
        document.querySelector(".darkCheck").classList.remove("checked")
    }

    $(document).ready(function () {
        $('#table_id').DataTable();
    });

    var toggler = document.getElementsByClassName("caret");
    var i;

    for (i = 0; i < toggler.length; i++) {
        toggler[i].addEventListener("click", function () {
            this.parentElement.querySelector(".nested").classList.toggle("nestactive");
            this.classList.toggle("caret-down");
        });
    }
</script>

</html>