<!DOCTYPE html>
<html lang="en">
<head>
    <script>if(window.localStorage.getItem('status') == ''){window.location.replace('/')}</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FrameWork Tester</title>

    <link rel="stylesheet" href="https://iotine.zapto.org/IOTINE_V2/mission-control/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
</head>

<body>
    <div class="sidebar">
        <div class="inner">
            <div class="main-panel">
                <button><img title="IOTINE" src="logo.png" alt=""></button>
                <button style="display:none;" v-on:click="toggleDevices"> <i class="material-icons">{{ icon }}</i> </button>
            </div>
            <div class="bottom-panel">
                <button><i class="material-icons">settings</i></button>
                <button v-on:click="toggleDevices"><img
                        src="https://secure.gravatar.com/avatar/12c5d52b156cff381bbe700f159d237b?s=96&amp;d=https%3A%2F%2Fpro-icons-avatars.s3.amazonaws.com%2Fimg%2Fd2.png"
                        alt=""></button>
            </div>
        </div>
    </div>

    <div class="devicesContainer">
        <div class="searchForm">
            <input v-model='searchedDevice' @keyup="searchInList" class="sc-dBaXSw fCqdz" id="header-search" type="text"
                name="search" placeholder="Search my devices" autocomplete="off">
        </div>
        <ul id="devices" class="devicesList">
            <li :id='device.name' v-for="device in devices" class="sc-dRCTWM rvBkA sc-jKJlTe jtqumW"><a href="#">
                    <div class=" dash-size-regular sc-kGXeez fkEHRF">
                        <div class="sc-kAzzGY eMCnFW"><img class="avatar"
                                src="https://pro-icons-avatars.s3.amazonaws.com/icons/10.png?v=1"></div>
                        <div class="sc-kpOJdX iQYOlv">
                            <div class="title-text sc-chPdSV jgeneq">{{ device.name }}</div>
                            <div class="sub-text sc-kgoBCf cTHQrV">{{ device.type }}</div>
                        </div>
                    </div>
                </a></li>
        </ul>
        <div class="actions">
            <button v-on:click="newDev" class="addDevice">ADD DEVICE</button>
        </div>
    </div>

    <div id="app">
        <div class="sc-gleUXh jZiiGj">
            <div class="header-notification" style="height: auto; display: block; background-color: rgb(255, 203, 44);">
                <div class="notification-container">
                    <div class="notification-text">
                        <p class="notification-info" style="color: rgb(73, 51, 0); text-shadow: none;">Your email
                            address is divyanshg809@gmail.com. We need to verify your email to continue using the
                            service.</p>
                    </div>
                    <div class="notification-action"><button
                            class=" dash-color-primary dash-size-regular sc-gzVnrw cqGrfU"
                            style="color: rgb(73, 51, 0);"><span>Resend verification email</span></button><img
                            class="close-btn" src="" style="display: none;">
                    </div>
                </div>
            </div>
        </div>
        <div class="sc-gtfDJT diMILA">
            <div class="sc-jMMfwr lhmKww">
                <div class=" dash-size-regular sc-kGXeez fkEHRF">
                    <div class="sc-kpOJdX iQYOlv">
                        <div class="title-text sc-chPdSV jgeneq">Personal</div>
                        <div class="sub-text sc-kgoBCf cTHQrV"></div>
                    </div>
                </div>
            </div>
            <div class="sc-fOICqy eEQKgH">
                <div class="sc-jtRlXQ dPoHcy">
                    <ul>
                        <li class="sc-bEjcJn joFqRi">
                            <div class="sc-ePZHVD ePRQm"><a class="navlink active" href="#"
                                    onclick="loadLink('/apps', this)"><i class="material-icons">layers</i>
                                    <div>Apps</div>
                                </a></div>
                        </li>
                        <!--<li class="sc-bEjcJn joFqRi">
                            <div class="sc-ePZHVD ePRQm"><a aria-current="page" class="navlink" href="#"
                                    onclick="loadLink('/dashboard.html', this)"><i class="material-icons">dashboard</i>
                                    <div>Dashboard</div>
                                </a></div>
                        </li>
                        <li class="sc-bEjcJn joFqRi">
                            <div class="sc-ePZHVD ePRQm"><a class="navlink " onclick="linkactive(this)"
                                    href="/personal/usage"><i class="material-icons">repeat</i>
                                    <div>Rules</div>
                                </a></div>
                        </li>
                        <li class="sc-bEjcJn joFqRi">
                            <div class="sc-ePZHVD ePRQm"><a class="navlink " onclick="linkactive(this)"
                                    href="/personal/subscriptions"><i class="subscriptions"></i>
                                    <div>Subscriptions</div>
                                </a></div>
                        </li>-->
                    </ul>
                </div>
            </div>
        </div>
        <div class="appInner" id="appInner" style="display:none;"></div>
        <div class="appInner">
            <div class="  sc-jwKygS lfArOz" id="main-container">
                <header class="sc-hEsumM felvod">
                    <div class="sc-cIShpX dQDczm">
                        <div class="title"><span class="sc-jqCOkK gstZGj sc-frDJqD bvdgMY" size="9" font-weight="bold"
                                letter-spacing="tight">Apps</span></div>
                    </div>
                </header>
                <div class="sc-cmTdod fxybWW">
                    <div class="  sc-jwKygS lfArOz" id="main-container">
                        <header class="sc-hEsumM felvod">
                            <div class="sc-cIShpX dQDczm">
                                <div class="title"><span class="sc-jqCOkK gstZGj sc-frDJqD bvdgMY userTEST" size="9"
                                        font-weight="bold" letter-spacing="tight">Your Apps, </span></div>
                                <div class="sc-feJyhm cznHAf"><button
                                        class=" dash-color-primary dash-size-regular sc-gzVnrw cqGrfU"
                                        onclick="newApp()"><span>Add
                                            App</span></button></div>
                            </div>
                            <nav class="sc-cbkKFq bwPwST">
                                <ul class="sc-krvtoX dzZnZh">
                                    <li class="sc-fOKMvo kdKYIh"><a aria-current="page" class="active"
                                            href="/personal/apps/">&nbsp;&nbsp;&nbsp;&nbsp;All</a></li>
                                </ul>
                                <div class="highlight sc-fYiAbW ijFbRz"
                                    style="transform: translate(0px, 0); width: 43.53125px"></div>
                            </nav>
                        </header>
                        <div class="sc-cmTdod fxybWW">
                            <ul class=" dash-size-regular sc-eNQAEJ dcxxsX">
                                <li class="sc-jKJlTe PzdTN" v-for="item in items" :key="item" :id="item.id">
                                    <div class=" dash-size-regular sc-kGXeez iEQOUk">
                                        <div class="sc-kAzzGY eMCnFW"><img class="avatar"
                                                src="https://pro-icons-avatars.s3.amazonaws.com/icons/9.png?v=1"></div>
                                        <div class="sc-kpOJdX iQYOlv" v-on:click="loadDashboard('./dashboard.html')">
                                            <div class="title-text sc-chPdSV jgeneq">{{ item.name }}</div>
                                            <div class="sub-text sc-kgoBCf cTHQrV">
                                                <div> {{ item.url }}</div>
                                            </div>
                                        </div>
                                        <div class="sc-dxgOiQ gZqNqi">
                                            <div class="sc-ckVGcZ fzFmLW">
                                                <div class="sc-bRBYWo glmmWo">
                                                    <div class="sc-fjdhpX jIfqqd">
                                                        <div class="toggle">
                                                            <div style="position: relative;">
                                                                <div class="sc-gZMcBi fMATig" :id="item.id"
                                                                    onclick="openMore(this.id)"><i
                                                                        class="material-icons   sc-iwsKbI krnrcc"
                                                                        size="16">more_vert</i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <ul :id="'drop_'+ item.id" class="dash-dropdown theme-dark"
                                                            style="z-index: 1;display: none;">
                                                            <li class="sc-jzJRlG bkuQKJ sc-VigVT hJPPnf"><a class=""
                                                                    href="/app/74afd860/settings/general">Transfer</a>
                                                            </li>
                                                            <li class="sc-jzJRlG bkuQKJ sc-VigVT hJPPnf"><a class=""
                                                                    href="/app/74afd860/settings/general">Settings</a>
                                                            </li>
                                                            <li class="sc-jzJRlG bkuQKJ sc-VigVT hJPPnf"><a
                                                                    class="theme-danger"
                                                                    href="/personal/apps">Delete</a></li>
                                                            <img src="https://dashboard.ionicframework.com/img/menu-carrot-dark.png"
                                                                class="dash-dropdown-caret">
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="sc-btzYZH uAbUh">
                            <div class="paginator">
                                <div class="count-label">{{ appcount }} Apps</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--
            <header class="sc-hEsumM felvod">
                <div class="sc-cIShpX dQDczm">
                    <div class="title">
                        <span class="sc-jqCOkK gstZGj sc-frDJqD bvdgMY" size="9" font-weight="bold"
                            letter-spacing="tight">
                            <div class="sc-gbOuXE hMamKJ">
                                <div class="sc-fjmCvl sLkAJ" size="24"><img
                                        src="https://secure.gravatar.com/avatar/12c5d52b156cff381bbe700f159d237b?s=96&amp;d=https%3A%2F%2Fpro-icons-avatars.s3.amazonaws.com%2Fimg%2Fd2.png"
                                        alt=""></div>
                                <h2>Welcome, Divyansh</h2>
                            </div>
                        </span>
                    </div>
                    <div class="controls">
                        <div class="commands">
                            <button><i class="material-icons">edit</i></button>
                            <button><i class="material-icons">notifications_none</i></button>
                            <button><i class="material-icons">settings</i></button>
                        </div>
                    </div>
                </div>
            </header>
            -->
        </div>
    </div>

    <div class="newAppModal modal" style="display: none;">
        <div class="newAppInner">
            <h1>New Application<span onclick="$('.newAppModal').toggle();$('.mainBackDrop').toggle()"
                    class="clsBtn">&times;</span></h1>
            <h4>Answer a few quick questions and we'll get your app up and running.</h4>
            <div class="form">
                <form action="/action_page.php">
                    <label for="appname">Application Name</label>
                    <input v-model="newAppName" type="text" id="appname" name="appname">

                    <label for="appurl">URL</label>
                    <div class="url">
                        <input type="text" id="appurl" name="appurl" :value="newAppName">
                        <p id="mainurl">.divyanshg809.iotine.com</p>
                    </div>
                    <label for="country">Country</label>
                    <select id="country" name="country">
                        <option value="usa">India</option>
                        <option value="australia">Australia</option>
                        <option value="canada">Canada</option>
                        <option value="usa">USA</option>
                    </select>

                    <input type="button" v-on:click="addDevice" class="save" value="Create">
                    <input type="button" class="cancel" value="Cancel"
                        onclick="$('.newAppModal').toggle();$('.mainBackDrop').toggle()">
                </form>
            </div>
        </div>
    </div>
    <div class="newDeviceModal modal" style="display: none;">
        <div class="newAppInner">
            <h1>New Device<span onclick="$('.newDeviceModal').toggle();$('.mainBackDrop').toggle()"
                    class="clsBtn">&times;</span></h1>
            <h4>Answer a few quick questions and we'll get your device up and running.</h4>
            <div class="form">
                <form action="/action_page.php">
                    <label for="Devicename">Device Name</label>
                    <input type="text" id="Devicename" name="Devicename" value="">

                    <label for="dTemplate">Device Template</label>
                    <select id="dTemplate" name="dTemplate">
                        <option value="fan">Fan</option>
                        <option value="light">Light</option>
                        <option value="temp_sns">Temperature</option>
                        <option><a href="#" style="color:blue;">+ Create new template</a></option>
                    </select>

                    <label for="Deviceurl">Device Connection String</label>
                    <h4>This helps your device securely connect with us.</h4>
                    <div class="url">
                        <input disabled type="text" id="Deviceurl" name="Deviceurl" :value="connstring">
                    </div>
                    <input type="button" v-on:click="addDevice" class="save" value="Create">
                    <input type="button" class="cancel" value="Cancel"
                        onclick="$('.newDeviceModal').toggle();$('.mainBackDrop').toggle();sideBar.toggleDevices()">
                </form>
            </div>
        </div>
    </div>
    <div class="backDrop" @click="hideOpenedPanel" style="display: none;"></div>
    <div class="mainBackDrop" onclick="hideAll()" style="display: none;"></div>
    <script src="https://iotine.zapto.org/IOTINE_V2/mission-control/river_v1.js"></script>

    <script>
        function find(name) {
            var url = window.location.search;
            var num = url.search(name);
            var namel = name.length;
            var frontlength = namel + num + 1; //length of everything before the value
            var front = url.substring(0, frontlength);
            url = url.replace(front, "");
            num = url.search("&");
            if (num >= 0) return url.substr(0, num);
            if (num < 0) return url;
        }
        document.querySelector('.userTEST').innerHTML += find("user")
        function linkactive(elm) {
            var prev = document.querySelector('.active')
            prev.classList.remove("active")
            elm.className += ' active'
        }
        var openedPanels = '';
        var appcount = 2 //Apps.data.items.length
        var Apps = new River({
            el: '#app',
            data: {
                items: [{
                    num: 1,
                    name: "Smart Home",
                    id: "smart_home",
                    url: "smart_home.divyanshg809.iotine.com"
                }, {
                    num: 2,
                    name: "Shop 1",
                    id: "shop1",
                    url: "shop1.divyanshg809.iotine.com"
                }],
                appcount: appcount
            },
            methods: {
                warn: (item) => {
                    alert(item)
                },
                loadDashboard(elm){
                    window.location.replace(elm)
                }
            }
        })

        var sideBar = new River({
            el: '.sidebar',
            data: {
                icon: 'device_hub'
            },
            methods: {
                toggleDevices: () => {
                    var container = document.querySelector('.devicesContainer')
                    var backDrop = document.querySelector('.backDrop')

                    if (container.style.width == '0px' || !container.style.width) {
                        this.icon = 'chevron_left'
                        backDrop.style.opacity = 1;
                        container.style.width = '300px';
                        backDrop.style.display = 'block'
                        container.style.opacity = 1;
                        openedPanels = container;
                        sideBar.icon = 'arrow_back'
                    } else {
                        container.style.width = '0px'
                        container.style.opacity = 0;
                        backDrop.style.opacity = 0;
                        backDrop.style.display = 'none'
                        openedPanels = '';
                        sideBar.icon = 'device_hub'
                    }
                },

                deviceInfo() {

                }
            }
        })

        function makeid(length) {
            var result = '';
            var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
            var charactersLength = characters.length;
            for (var i = 0; i < length; i++) {
                result += characters.charAt(Math.floor(Math.random() * charactersLength));
            }
            return result;
        }
        var devices = new River({
            el: '.devicesList',
            data: {
                devices: [{
                    id: "1",
                    name: "Street Light 1",
                    type: "street_light"
                }, {
                    id: "2",
                    name: "Street Light 2",
                    type: "street_light"
                }]
            }
        })

        var searchForm = new River({
            el: '.searchForm',
            data: {
                searchedDevice: ''
            },
            methods: {
                searchInList() {
                    if (this.searchedDevice == '') return $('.rvBkA').show()
                    devices.devices.forEach(device => {
                        var res = device.name.search(this.searchedDevice)
                        if (res != -1) {
                            $('#' + this.searchedDevice).hide()
                            var matches = document.getElementsByClassName("rvBkA")
                            for (i = 0; i < matches.length; i++) {
                                var id = matches[i].id.search()
                                if (id != -1) {
                                    $('#' + matches[i].id).show()
                                    if (matches[i].id != this.searchedDevice) {
                                        $('#' + matches[i].id).hide()
                                    } else {
                                        $('#' + matches[i].id).show()
                                    }
                                }
                            }
                        }
                    })
                }
            }
        })

        var deviceActions = new River({
            el: '.actions',
            methods: {
                newDev() {
                    sideBar.toggleDevices()
                    newdevice.connstring = makeid(32)
                    $('.mainBackDrop').toggle()
                    $(".newDeviceModal").toggle()
                    openedPanels = '.newDeviceModal'
                }
            }
        })

        var newdevice = new River({
            el: '.newDeviceModal',
            data: {
                connstring: makeid(32)
            },
            methods: {
                addDevice() {
                    devices.devices.push({
                        name: document.getElementById('Devicename').value,
                        type: "testDevice"
                    })
                    $('.mainBackDrop').toggle()
                    $(".newDeviceModal").toggle()
                    openedPanels = ''
                    sideBar.toggleDevices()
                }
            }
        })

        var newAppModal = new River({
            el: '.form',
            data: {
                newAppName: ''
            },
            methods: {
                addDevice() {
                    Apps.items.push({
                        name: document.getElementById('appname').value,
                        id: document.getElementById('appname').value.replace(" ", "_").toLowerCase(),
                        url: document.getElementById('appurl').value.replace(" ", "_").toLowerCase() +
                            '.divyanshg809.iotine.com'
                    })
                    $('.newAppModal').toggle();
                    $('.mainBackDrop').toggle()
                    openedPanels = '.newAppModal'
                }
            }
        })
        var backDrop = new River({
            el: '.backDrop',
            methods: {
                hideOpenedPanel() {
                    sideBar.toggleDevices()
                    backDrop.style.opacity = 0;
                    backDrop.style.display = 'none'
                }
            }
        })

        const newApp = () => {
            $(".mainBackDrop").toggle()
            $(".newAppModal").toggle()
            openedPanels = '.newAppModal'
        }

        const hideAll = () => {
            $(".mainBackDrop").toggle()
            $(openedPanels).toggle()
        }

        const openMore = elm => {
            $('#drop_' + elm).toggle().css({
                'top': '45px',
                'margin-left': '5px'
            })
            //console.log(document.getElementById('drop_'+elm).className = 'open')
            //$("#"+elm).closest(".toggle").siblings(".dash-dropdown").classList += 'open';
        }


        function loadLink(lnk, elm) {
            if (lnk == '/apps') {
                $("#appInner").hide()
                linkactive(elm)
            } else {

                $('#appInner').load(lnk, function () {
                    linkactive(elm)
                    $("#appInner").show()
                    //$(".content-new").show()
                    //var modal = document.getElementById("preld");
                    //var modalC = document.querySelector(".preld");
                    //modal.style.display = "block";
                    //$(".mainBody").hide()
                    //setTimeout('$("#preld").hide()', 500);
                });
            }
        }
    </script>
</body>

</html>